<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Mr.</title>
    <%- include('components/styles')%>
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
    <div class="container">
        <h1>Розыгрыш</h1>
        <% if (quizzes.length > 0) { %>
            <div class="quizzes">
                <% quizzes.forEach(quiz => { %>
                    <div class="quiz" data-id="<%= quiz._id%>" type="quiz">
                        <div class="trash">
                            <i class="fa fa-trash"></i>
                        </div>
                        <div class="quiz-text"><%= quiz.text%></div>
                        <div class="quiz-phone"><%= quiz.phone%></div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h2 class="Error">No quizzes yet</h2>
        <% } %>
        
        <h1>Добавить товар</h1>
        <form action="/admin/add" method="POST" enctype="multipart/form-data">
            <input type="file" name="image">
            <input type="text" name="title" placeholder="Title">
            <input type="number" name="cost" placeholder="Cost">
            <textarea name="description" placeholder="Description"></textarea>
            <input type="submit">
        </form>

        <h1>цветы</h1>
        <% if (flowers.length > 0) { %>
            <div class="flowers">
                <% flowers.forEach(flower => { %>
                    <div class="flower" data-id="<%= flower._id%>" type="flower">
                        <div class="trash">
                            <i class="fa fa-trash"></i>
                        </div>
                        <div
                            style="background: url('<%= flower.img%>') center center / cover;" 
                            class="flower-image"
                        ></div>
                        <div class="flower-title"><%= flower.title%></div>
                        <div class="flower-cost"><%= flower.cost%> KGS</div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h2 class="Error">No flowers yet</h2>
        <% } %>
        <h1>Заказы</h1>
        <% if (orders.length > 0) { %>
            <div class="orders">
                <% orders.forEach(order => { %>
                    <div class="order" data-id="<%= order._id%>" type="order">
                        <div class="trash">
                            <i class="fa fa-trash"></i>
                        </div>
                        <div class="order-name"><%= order.name%></div>
                        <div class="order-location"><%= order.location%></div>
                        <div class="order-amount"><%= order.amount%></div>
                        <div class="order-phone"><%= order.phone%></div>
                        <div class="order-id"><%= order.productId%></div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <h2 class="Error">No orders yet</h2>
        <% } %>
        <h1>Посмотреть продукт</h1>
        <div class="check-product">
            <div class="product">
                <div class="product-img" style="background: url('http://res.cloudinary.com/grami/image/upload/v1550650303/qh9yv9gnfdxiaxehfjqv.jpg') center center / cover;"></div>
                <div class="product-title">Rose</div>
                <div class="product-cost">200 СОМ</div>
                <div class="product-description">Good flower iwth beayty fukk flowers. And goold to have it to 8 march.</div>
            </div>
            <input type="text" name="id" placeholder="Input id of product">
        </div>
    </div>

    <script src="/assets/js/components.js"></script>
    <script src="/assets/js/admin.js"></script>
</body>
</html>